[phases.setup]
nixPkgs = ["python311", "libGL", "glib", "libSM", "libXext", "libXrender", "libgomp"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["mkdir -p uploads"]

[start]
cmd = "python main.py"
